<div id="container">
  <h1>SenseIT</h1>

  <div id="options">
    <button>MY DEVICES</button>
    <div id="divide"></div>
    <button (click)="openScanner()" >PAIR</button>
  </div>

  <div id="devices">
    <div *ngFor="let device of device_list" class="device">
      <p>Device Name: {{ device.device_name }}</p>
      <p>Contact: {{ device.device_contact }}</p>
      <p>PIN: {{ device.device_pin}}</p>
      <ion-button color="primary" (click)="resetDevice(device.device_contact)">Reset Device</ion-button>
      <ion-button color="secondary" (click)="removeDevice(device.device_contact)"
                  >
        Remove Device
      </ion-button>
    </div>
  </div>
</div>
