#container {
    font-family: Roboto, Arial;
    color: #828282;
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 25%;
    background-image: url("../../assets/icon-gray.png");
    background-position: center;
    background-position-y: 80%;
    background-size: 70%;
    background-repeat: no-repeat;

    h1 {
        font-weight: bold;
        font-size: 38pt;
        color: #FC9F57;
        margin-bottom: 10%;
    }
}

.options {
  text-align: center;
}

#camera-section {
    height: 50%;
    width: 70%;
    border: 3px solid#828282;
    border-radius: 15px;
    margin-left: 15%;
    margin-top: 10%;
    background-color: white;
}

#qr-scan {
    height: 10%;
    width: 60%;
    font-size: 20pt;
    font-weight: bold;
    color: white;
    background-color: #FC9F57;
    border-radius: 15px;
    margin-top: 5%;
}
